# **Data Science Tools and Ecosystem**

In this notebook, Data Science Tools and Ecosystem are summarized.

### **this notebook covered**
 **Objectives:**
 * languages for data science
 * Data science libraries
 * Data Science Tools
 * Data Science Tools

### **languages for data science**
**Some of the popular languages that Data Scientists use are:**
* Python
* Java
* Ruby
* PHP
* C++

### **Data science libraries**
**Some of the commonly used libraries used by Data Scientists include:**
* pandas
* opencv
* yensorflow
* pytorch

### **Data Science Tools**
|Data Science Tools|
|------------------|
|jupyter notebook|
|git - github|
|apache atlas|
|TensorFlow|

### **Arithmetic expressions in Python** ###
### Below are a few examples of evaluating arithmetic expressions in Python :
(+) Adition
(-) ubtraction
(/) division
(*) Multiplication
(%) modulus

###  multiply and add numbers ###

In [7]:
'This a simple arithmetic expression to mutiply then add integers'
(3*4)+5

17

 ### cell to convert minutes to hours ###

In [36]:
'This will convert 200 minutes to hours by diving by 60'
m=(200)
h=(m/60)
print(h)

3.3333333333333335

## Author
**Mohamed Mahmoud**